__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.egg
*.egg-info/
.eggs/
*.manifest
*.spec

.venv/
venv/
env/
ENV/

*.env
.env.*

.vscode/
*.swp
*.swo
*.bak
*.tmp

*.log
logs/
*.out

build/
dist/
*.whl


.DS_Store
.AppleDouble
.LSOverride

*.pid
*.tar
docker-compose.override.yml



